.gorjanaHeader {
    box-shadow: inset 0 -1px 0 0 #e4e6ec;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #e4e6ec;
}

.gorjanaTopHeader {
    background-color: #f6efe6;
    padding: 5px;
    padding-left: 60px;
}

.gorjanaHederImage {
    cursor: pointer;
}

.gorjanaHeaderSubMenuMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gorajanaBottomHeaderMain {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;

}

.gorjanaImgMenuMain {
    display: flex;
    margin-left: 44px;
    margin-top: 2px;
    width: 100%;
}

.gorjanaHeaderMenu {
    display: flex;
    list-style: none;
    margin: 0px;
    margin-left: 7px;
    align-items: center;
}

.gorjana-Menu-item {
    margin: 0px;
    margin-inline: 20px;
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    cursor: pointer;
}

.gorjana-Menu-item:hover {
    text-decoration: underline;
}

.gorjanaHeaderMenuIconeWeb {
    display: flex;
    align-items: center;
    margin-right: 55px;
}


.gorHeaderMobileIcoen {
    height: 25px;
    cursor: pointer;
    width: 25px;
    margin-inline: 15px;
}

@media screen and (min-width:1151px) {
    .gorjanaHeaderMenuIconeMobile {
        display: none;
    }
}

@media screen and (max-width:1150px) {

    .gorjanaHeaderMenuIconeWeb {
        display: none;
    }

    .gorajanaBottomHeaderMain {
        padding: 0px;
        padding-Block: 20px;
    }

    .gorjanaHeaderMenu {
        display: none;
    }

    .gorjanaHeaderSubMenuMain {
        display: flex;
        justify-content: flex-end;
    }

    .gorjanaImgMenuMain {
        margin-left: 15px;
    }
}


@media screen and (max-width: 400px) {

    .gorHeaderMobileIcoen {
        height: 25px;
        width: 25px;
        margin-inline: 8px;
    }

}