.gorjanaHeader{
    box-shadow: inset 0 -1px 0 0 #e4e6ec;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    height: 120px;
}
.gorjanaTopHeader {
    background-color: #f6efe6;
    padding: 5px;
    padding-left: 60px;
}
.gorjanaHederImage{
    cursor: pointer;
}

.gorajanaBottomHeaderMain{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;

}

.gorjanaImgMenuMain{
    display: flex;
    margin-left: 44px;
    margin-top: 2px;
    width: 100%;
}
.gorjanaHeaderMenu{
    display: flex;
    list-style: none;
    margin: 0px;
    margin-left: 7px;
    align-items: center;
}
.gorjana-Menu-item{
    margin: 0px;
    margin-inline: 20px;
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    cursor: pointer;
}
.gorjana-Menu-item:hover{
    text-decoration: underline;
}