.finejwelery {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    color: #7d7f85;
    list-style: none;
    /* font-weight: 500; */
    /* text-decoration:underline; */
}

.smilingProductMain {
    width: 100%;
    margin-inline: 6%;
    background-color: white;
}

.finejli {
    list-style: none;
    font-size: 13px;
    margin-left: 20px;
    color: #7d7f85;
    cursor: pointer;
}

.prod_img {
    /* background-image: url('https://smilingrocks.com/cdn/shop/products/Lab-grown-diamond-white-gold-ring-srr00363wht_11c94dae-c1d2-45e8-ae46-d16152c77f45_800x800.jpg?v=1613627318'); */
    width: 100%;
    min-height: 412px;
    height: 412px;
    background-size: cover;
    background-position: center;
    transition: all 0.7s ease;
}

.prod_img:hover {
    /* background-image: url('https://images.accentuate.io/?c_options=w_320,dpr_2.0&image=https://cdn.accentuate.io/3245609615460/5977841664100/SRR-00363WHT.jpg?2048x1950'); */
    transition: all 0.7s ease;
}


.smilingProductCategory {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

.smilingProductCategory.open {
    max-height: 200px;
    margin: 0;
}

.mobileSmlingProductFilterOverly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-color: #4c4b47;
    z-index: 999;
    transition: all 0.9s ease-in-out;
}

.minmaxvalpl {
    outline: none !important;
    font-size: 13px !important;
    height: 25px !important;
    width: 30% !important;
    padding: 5px !important;
    color: #555050 !important;
}

@media screen and (min-width: 1441px) {
    .smilingMobileProductListSideBar {
        display: none;
    }
}

@media screen and (max-width: 1441px) {

    .smilingWebProductListSideBar {
        display: none;
    }

    .smilingFilterweb{
        display: none!important;
    }

    .smilingProductMain {
        margin-inline: 2%;
    }

    .smilingProductSubMain {
        display: flex;
        flex-direction: column;
    }

    .smilingProductImageMain {
        margin: 0px !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) {

    .smilingProductImageBox {
        width: 50% !important;
    }
}


.instockP {
    border-radius: 0px 3px 0px 0 !important;
    font-weight: 300 !important;
    padding: 1px 3px !important;
    font-size: 8px !important;
    background: #c9f7cb !important;
    border-radius: 0 !important;
    z-index: 1 !important;
    top: 28px !important;
    left: 0 !important;
    color: #3F51B5;
    right: unset !important;
    letter-spacing: unset !important;
    position: absolute;
}

@media screen and (max-width: 600px) {

    /* .prod_img{
        height: auto!important;
    } */

    .prod_img {
        margin-top: 30px !important;
        min-height: 200px !important;
        height: 200px !important;
    }

    .productTitleLine p {
        font-size: 12px !important;
        white-space: unset !important;
        line-height: 1.4 !important;
        min-height: auto !important;
    }

    .mobileDeatilDiv1 {
        display: flex !important;
        flex-direction: column !important;
    }

    .mobileDeatilDiv2 {
        display: flex !important;
        flex-direction: column !important;
    }

    .smilingProductDeatilTitleMobile {
        white-space: normal !important;
    }
}

@media screen and (max-width: 500px) {

    .smilingAllProductDataMainMobile {
        display: flex !important;
        flex-direction: column !important;
        margin: 10px;
    }

    .smilingProductImageBox {
        width: 100% !important;
    }

    .prod_img {
        width: 80% !important;
    }

}


.inputCheck:checked {
    background-color: '#7f7d85';
}