#outlined-confirm-password-input::-ms-reveal {
    display: none !important;
}


.SmilingLoginCodeBtn {
    height: 60px;
    width: 420px;
    color: white;
    background-color: #7d7f85;
    border: 0;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1;
    transition: all 0.5s ease;
}

.SmilingLoginCodeBtn:hover {
    background-color: white;
    color: #7d7f85;
    border: 1px solid #7d7f85;
}


@media screen and (max-width: 700px) {

    .SmilingLoginCodeBtn {
        width: 50%;
        height: 50px!important;

    }
   
}

@media screen and (max-width: 500px) {

    .SmilingLoginCodeBtn {
        width: 70%;
        height: 40px!important;
        font-size: 12px!important;

    }
}