.smilingCartPageMain {
    background-color: white;
    margin-inline: 6%;
}

.smiling-cartPageBoxMain {
    width: 49%;
    border: 1px solid #ccc;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.smilingCartPageDataMain {
    display: flex;
    flex-wrap: wrap;
}

.placeOrderCartPageBtnMain {
    display: flex;
    justify-content: center;
}

.placeOrderCartPageBtn {
    background-color: #888;
    color: white;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    width: 200px;
    font-weight: 500;
}

.similingCartPageBotttomMain {
    display: flex;
    justify-content: flex-end;
    margin: 5px 40px 10px 0px;
}

.smilingCartPageTab1Main {
    height: 60px;
    width: 150px;
    color: #7d7f85 !important;
    background-color: white !important;
    border: 1px solid #7d7f85 !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    margin: 10px !important;
}

.YourCartPageMainRemkarBox {
    width: 400px;
    padding-left: 5px;
}

.smilingCartPageTab1Main:hover {
    color: white !important;
    background-color: #7d7f85 !important;
}

.smilingCartPageTab2Main {
    height: 60px;
    width: 150px;
    color: #7d7f85 !important;
    background-color: white !important;
    border: 1px solid #7d7f85 !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    margin: 10px !important;
}

.smilingCartPageTab2Main:hover {
    color: white !important;
    background-color: #7d7f85 !important;
}

.smilingCartPageTab3Main {
    height: 60px;
    width: 160px;
    color: #7d7f85 !important;
    background-color: white !important;
    border: 1px solid #7d7f85 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin: 10px !important;
}

.smilingCartPageTab3Main:hover {
    color: white !important;
    background-color: #7d7f85 !important;
}

.browseBtnMore {
    height: 50px;
    width: 220px;
    border: none;
    outline: none;
    background-color: #7d7f85;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.browseBtnMore:hover {
    background-color: white;
    color: #7d7f85;
    border: 1px solid #7d7f85;
}

.css-1aquho2-MuiTabs-indicator {
    width: 0px !important;
}

.YourCartMainRemkarBoxSingle {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    height: 33px;
    border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 1450px) {
    .placeOrderCartPageBtnMobile {
        display: none !important;
    }

}

@media screen and (max-width: 1450px) {

    .smilingCartPagePlaceOrderBtnMainWeb {
        display: none !important;
    }

    .placeOrderCartPageBtnMobile {
        background-color: #888;
        color: white;
        border: none;
        outline: none;
        height: 45px;
        border-radius: 5px;
        width: 200px;
        font-weight: 500;
    }

    .smilingCartPageDataMain {
        display: flex !important;
        flex-wrap: nowrap !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
    }

    .smiling-cartPageBoxMain {
        width: 90% !important;
    }

    .similingCartPageBotttomMain {
        display: flex !important;

    }

    .placeOrderCartPageBtnMain {
        position: fixed;
        bottom: 0px;
    }

    .smilingCartPagePrice{
        margin: 10px 50px 10px 0px!important;
    }
}

@media screen and (max-width: 600px) {
    .placeOrderCartPageBtnMobile {
        width: 100%;
        margin-top: 10px;
        height: 50px!important;
    }

    .YourCartPageMainRemkarBox{
        width: 100%!important;
    }
    .similingCartPageBotttomMain{
        margin: 0px!important;
        padding: 10px!important;
    }
}

@media screen and (max-width: 800px) {

    .similingCartPageBotttomMain {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .smilingQualityMain {
        margin-block: 10px !important;
        width: 100% !important;
        margin-right: 0px!important;
    }

    .smilingAddresingleMobileMain {
        margin-left: 0px !important;
    }

    .smilingAddresingleMobileMain {
        width: 100% !important;
    }

    .YourCartMainRemkarBoxSingle {
        width: 60% !important
    }

    .SmilingAddSingleRemkarBtn {
        width: 40% !important;
    }

    .simlingQualityBox {
        width: 60% !important
    }

    .SmilingUpdateQuantityBtn {
        width: 40% !important;
    }

 
}

@media screen and (max-width: 400px) {

    .SmilingAddSingleRemkarBtn {
        font-size: 12px !important;
    }

    .smiling-cartPageBoxImgView {
        width: 250px !important;
    }

    .YourCartMainRemkarBoxSingle {
        width: 70% !important
    }

}