.sminingSigninMain {
    margin-inline: 6%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labGroSignTextBox {
    width: 420px;
    height: 20px;
}

.smilingSignInFooter {
    margin-inline: 6%;
    background-color: white;
}

.smiling-SignInBtn {
    height: 60px;
    width: 200px;
    background-color: #7d7f85;
    color: white;
    border: 0;
    font-weight: 500;
    margin: 10px;
    transition: all 0.5s ease;

}

.smiling-SignInBtn:hover {
    background-color: white;
    color: #7d7f85;
    border: 1px solid #7d7f85;
}

.smiling-RegisterBtn {
    height: 60px;
    width: 200px;
    background-color: white;
    color: #7d7f85;
    border: 1px solid #7d7f85;
    font-weight: 500;
    margin: 10px;
}

.smilingSignForgotDiv {
    margin-top: 15px;
}

.smilingSignForgot {
    font-size: 12px;
    margin-top: 15px;
    letter-spacing: 1px;
    margin: 0;
    cursor: pointer;
    font-family: 'TTCommons-Medium';

    position: relative;
    text-decoration: none;
    transition: color 0.3s;
}

.smilinngLogReturnHomeDiv {
    margin-top: 10px;
}



.smilingSignForgot::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

.smilingSignForgot:hover::before {
    width: 100%;
}


/* @media screen and (max-width: 1441px) {
    .labGroSignTextBox {
       width: 35%;
    }
}
@media screen and (max-width: 1024px) {
    .labGroSignTextBox {
       width: 50%;
    }
} */

@media screen and (max-width: 700px) {
    .labGroSignTextBox {
        width: 70%;
    }

    .smlingSignRegiBtn {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .smiling-SignInBtn {
        width: 70% !important;

    }

    .smiling-RegisterBtn {
        width: 70% !important;


    }
}

/* 1px solid #e1e1e1 */