.gj_pagetitle{
    font-size: 45px;
    font-family: 'FreightDisp Pro Medium';
    color: #283045;
}

.gj_collection_container{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 12px;
    cursor: pointer;
}

.gj_pcl_container{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.gj_pcl_img{
   width:170px;
   height: 200px;
}

.gj_pcl_title{
    margin-top: 12px;
    font-size: 18px;
    font-family: 'FreightDisp Pro Medium';
    color: #283045;
}

.gj_pcl_container:hover{
    .gj_pcl_title{
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}