.mainCart{
    display: flex;
    flex-direction: row;
}

.cart{
    min-height: 170px;
    width: 700px;
    padding: 0.8em;
    background: #fefefe;
    position: relative;
    overflow: visible;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.cartImage{
    height: 170px;
    width: 170px;
    transition: .3s ease;
}
.btnCheckOut{
    color: white;
    background-color: #3bc9ca;
    height: 50px;
    width: 340px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.cardDetails{
    display: flex;
    flex-direction: row;
    order: 1;
    justify-content: flex-end;
    width: 1150px;
}

.cartTotal{
    display: flex;
    flex-direction: column;
    order: 2;
    position: fixed;
    right: 390px;
    height: 320px;
    width: 350px;
}

.cartTotalData{
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.cartDetails{
    margin: 0;
    font-size: 0.9rem;
}
.totalData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bold{
    font-weight: 500;
}
.btnRemove{
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    height: 32px;
    width: 200px;
    position: absolute;
    right: 0;
    color: #cacaca;
    border: 1px solid #bbb9bb;
    bottom: 0;
    margin: 10px;
}
