


.gorjanaFooterMain{
    background-color: #f6efe6;
    color: #283045;
    padding-inline: 2%;
}
.gorjanaFooterMainSub{
    display: flex;
    padding-block: 30px;
    padding-top: 80px;
}

.gorjanaFooterMainBox1{
    width: 45%;
}
.gorjanaFooterMainBox2{
    width: 45%;
}
.gorjanaFooterMainBox3{
    width: 33.33%;
}

.gorjanaFooterMainBox1Input{
    height: 45px;
    width: 450px;
    background-color: inherit;
    border: 0;
    border: 1px solid black;
}

.gorjanaFooterLink{
    font-size: 15px;
    cursor: pointer;
    width: fit-content;
}
.gorjanaFooterLink:hover{
    text-decoration: underline;
}

