.fs_al{
    font-size: 15px;
}
.fs_al2{
    font-size: 14px;
}
.eeal{
    font-size: 12px;
    width: 70%;
}
.fs_td{
    font-size: 13px;
}
._centeral{
    display: flex;
    justify-content: center;
    align-items: center;
}
.w_Al{
    width: 7.14%;
}
.daybtn{
    height: 35px;
    width: 35px;
}
.daybtn:hover{
    background-color: rgb(210, 213, 213);
}
/* .header_al{
    display: none;
} */

/* @media print {
    .header_al{
        display: normal;
    }   
    
} */