.homeMain{
    margin-inline: 6%;
    background-color: white;
}
.smining-header{
    height: 110px;
    background-color: transparent!important;
}

.loginDailog{
    height: 350px;
    width: 400px;
    padding: 15px;
}
.loginDiTile{
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
}
.loginMail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5;
    margin-inline: 7px;
    height: 40px;
    cursor: pointer;
}
.loginMail:hover{
    background-color: #e4e6ec;
}
.loginMobile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5;
    margin-inline: 7px;
    height: 40px;
    cursor: pointer;
    margin-top: 25px;
}
.loginMobile:hover{
    background-color: #e4e6ec;
}
/* 

@media screen and (min-width: 1441px) {
    .mobileFooterSection {
        display: none;
    }
} */

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
@media screen and (max-width: 1440px) {

    .homeMain {
        margin-inline: 2%;

    }


}