.card-outer-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 8%;
    width:100%;
    user-select: none !important;
}
.card-inner-container{
    user-select: none !important;
    float: left;
    width:2346px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-inner-container-cate{
    user-select: none !important;
    float: left;
}

.card-inner-container:hover{
    color:#45d4d5
}

.card-inner-container-cate:hover{
    color:#45d4d5
}



.cards-img:hover{
    transform: scale3d(1.2, 1.2, 1.2) !important;
}

.cards-img-text-container{
  display: flex;
  overflow-x:scroll;
  float: left;
  width:1751px;
  height: auto;
  gap:15px;
  padding-right: 40px;
  cursor: grab;
  /* position: relative; */
  user-select: none !important;
  margin-top: 15px;
}

.banner-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card-body{
    user-select: none !important;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    user-select: none !important;
}
.card-title-text{
    font-size: 25px;
    font-family: Zapf Humanist;
    color: #2c2c2c;
    user-select: none !important;
}
.card-shopall{
    color:#45d4d5;
    text-decoration: underline;
    user-select: none !important;
} */



@media screen and (min-width:1025px) {
    .sliderCardMobile {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .sliderCardWeb {
        display: none;
    }

    .scrollable-container {
        padding: 20px;
        overflow-x: auto;
    }

    .image-scroll-content {
        display: flex;
        gap: 10px;
        width: 270%;
    }

    .image-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .image-wrapper img {
        display: flex;
        max-width: 100%;
        max-height: 100%;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    .image-scroll-content img {
        max-height: 10%;
        width: auto;
    }
}