
.loginDailog{
    margin-inline: 6%;
    background-color: white;
    padding: 15px;
}


.smilingLoginOptionMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginDiTile{
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
}
.loginMail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888;
    color: white;
    margin-inline: 7px;
    height: 55px;
    cursor: pointer;
    width: 25%;
    margin-top: 30px;
}
.loginMobile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888;
    color: white;
    margin-inline: 7px;
    height: 55px;
    cursor: pointer;
    margin-top: 25px;
    width: 25%;
}

@media screen and (max-width: 1150px) {

    .loginMail{
        width: 50%!important;
    }

    .loginMobile{
        width: 50%!important;
    }
}


@media screen and (max-width: 700px) {

    .loginMail{
        width: 80%!important;
    }

    .loginMobile{
        width: 80%!important;
    }
}


@media screen and (max-width: 400px) {

    .loginMail{
        width: 95%!important;
    }

    .loginMobile{
        width: 95%!important;
    }
}