
.imageDetail{
    display: flex;
    flex-wrap: wrap;
}
.imageDetailImage{
    width: 50%;
    height: 600px;
    border: 1px solid black;
    display: flex;
    order: 1;
}

.imageDetailByNow{
    width: 49.70%;
    height: 600px;
    border: 1px solid black;
    display: flex;
    order: 2
}
.productDeatils{
    width: 65%;
    border: 1px solid black;
    display: flex;
    order: 1;
}

.contactForm{
    width: 34.70%;
    border: 1px solid black;
    display: flex;
    order: 1;
}