.FestiveMainImage {
    position: relative;
}
.FestiveBannerImage{
    width: 100%;
}
.festiveBox {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.DiscoverBtn {
    margin-top: 30px;
    height: 60px;
    width: 200px;
    background-color: gray;
    color: white;
    cursor: pointer;
    border: none;
}

.DiscoverBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .FestiveMainImage {
        display: flex!important;
        flex-direction: column!important;
    }
    .festiveBox {
        position: static!important;
        background-color: #c0bbb1;
        top: 0;
        left: 0;
        transform: translate(0%, 0%)!important;
        text-align: center;
    }

    .smilingFestiMainTitle1{
        font-size: 12px!important;
        font-weight: 500;
        margin: 0px;
    }

    .festiveBox{
        padding-top: 35px!important;
    }

    .smilingFestiMainTitle2{
        font-size: 30px!important;
    }

    .DiscoverBtn{
        width: 200px!important;
        height: 50px!important;
        color: white;
        background-color: gray;
        font-weight: 500;
        font-size: 13px;
    }
}
