.smilingDelivery {
    margin-inline: 6%;
    background-color: white;
}

.smilingOrderMain{
    display: flex;
    margin-inline: 10%;
}

.smilingdeliverBox1{
    width: 60%;
    margin-top: 8%;
}

.smilingdeliverBox2{
    width: 40%;
    margin-top: 8%;

}

.smilingDeliverImg{
    height: 200px;
    width: 200px;
}

.AddressMain{
    border: 1px solid lightgray;
    width: 170px;
    word-wrap: break-word;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.addressData{
    margin: 0px;
}

.deliveryAddressEdit{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: lightgray;
    margin-inline: 2px;
    cursor: pointer;
}
.deliveryAddressEdit:hover{
    border: 1px solid lightgray;
    background-color: white;
}


.deliveryAddressDelete{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: lightgray;
    margin-inline: 2px;
    cursor: pointer;
}
.deliveryAddressDelete:hover{
    border: 1px solid lightgray;
    background-color: white;
}

.smilingAddToAddressBtn{
    height: 40px;
    width: 170px;
    border: none;
    outline: none;
    background-color: lightgray;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;
}
.smilingAddToAddressBtn:hover{
    border: 1px solid lightgray;
    background-color: white;
}

.smilingAddressPopupMain{
    width: 570px;
    height: 850px;
}

.smilingDeleveryformSaveBtn{
    height: 35px;
    width: 100px;
    border: none;
    outline: none;
    background-color: lightgray;
    font-weight: 500;
    margin-inline: 5px;
    border-radius: 5px;
}
.smilingDeleveryformSaveBtn:hover{
    background-color: white;
    border: 1px solid lightgray;
}

.smilingDeleveryformCansleBtn{
    height: 35px;
    width: 100px;
    border: none;
    outline: none;
    background-color: lightgray;
    font-weight: 500;
    border-radius: 5px;
}
.smilingDeleveryformCansleBtn:hover{
    background-color: white;
    border: 1px solid lightgray;
}

.smilingDeliverDelerePopu{
    height: 130px;
    width: 400px;
    padding: 10px;
}