.gorAccessibility{
    margin-top: 8%;
    margin-inline: 15%;
}

.groAsseccMainTitle{
    font-family: 'Futura PT,sans-serif';
    font-size: 25px;
}

.gorAssecceDesc{
    font-family: 'Futura PT,sans-serif';
    font-size: 15px;
}
.gorAsseccSubTitle{
    font-family: 'Futura PT,sans-serif';
    font-size: 16px;
    font-weight:600;
}