.des_img_aoh{
    height: 230px;
    width: 230px;
    object-fit: cover;
}
._color{
    color: #976155;
}
._center{
    display: flex;
    justify-content: center;
    align-items: center;
}
._end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.orderHistory .MuiAccordion-gutters::before{
 opacity: 1 !important;
}
.orderedItems{
    /* max-height: 600px;
    min-height: 600px; */
    height: 100%;
    overflow-y: auto;
    border: 1px solid #e8e8e8;
    padding: 15px;
}
.paginate_OH{
    width: 100%;
}
.break{
    padding: 4px;
}
.orderedItems::-webkit-scrollbar {
    width: 5px;
}

/* Styling the scrollbar thumb */
.orderedItems::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
    cursor: pointer;
}

/* Styling the scrollbar track */
.orderedItems::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.fs_price_oh{
    font-size: 16px;
}


.container_order_details{
    display: flex;
    flex-wrap: wrap;
}