.quotationFilterDates>div>input {
    padding: 9.5px 10px;
    max-width: 90px;
    min-width: 90px;
}

.searchbox input {
    padding: 9.5px 30px 9.5px 10px;
    max-width: 140px;
}

.quotationFilterDates label {
    top: -6px;
}

#demo-simple-select~fieldset legend {
    color: #000;
    display: none !important;
}

#demo-simple-select {
    padding: 5px 32px 9px 10px;
}

#demo-simple-select~svg {
    top: 5px;
}

.searchbox label {
    top: -6px;
}

.searchbox>div {
    top: -2px;
    position: relative;
}

.searchbox button:has(svg) {
    right: 20px;
    top: 7px;
}

.orderFrom span:has(input) {
    padding: 5px;
}

.quotationFilters>div {
    padding-left: 0;
    padding-right: 0;
}

.quotationFiltersText * {
    font-size: 14px !important;
    line-height: 120%;
}

.selectLabel {
    font-size: 11px !important;
}

.quotationFiltersText svg {
    font-size: 20px !important;
    color: #7d7f85;
}

.quotationFiltersText .MuiTablePagination-selectLabel,
.quotationFiltersText .MuiTablePagination-displayedRows {
    margin-bottom: 0;
}

.statusSelect>div {
    min-width: 85px;
}

.categoryList,
.MetalColorList {
    min-width: 120px;
}

.MetalPurityList {
    min-width: 150px;
}

.quotaionFiltertable th{
    position: relative;
    cursor: pointer;
}

.quotaionFiltertable th >span{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}