.css-1wc848c-MuiFormHelperText-root{
    margin-right: 0px!important;
    margin-left: 0px!important;
}


.smling-register-main {
    margin-inline: 6%;
    background-color: white;
}

.labgrowRegister {
    width: 420px;
    margin: 10px;
}

.createBtnRegister{
    height: 60px;
    width: 420px;
    color: white;
    background-color: #7d7f85;
    border: 0;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1;
    transition: all 0.5s ease;
}

.createBtnRegister:hover{
    background-color: white;
    color: #7d7f85;
    border: 1px solid #7d7f85;
}

.SmilingSignInHere{
    color: #7d7f85;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;

    position: relative;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}
.SmilingSignInHere::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease;
}
.SmilingSignInHere:hover::before {
    width: 100%; 
}


@media screen and (max-width: 700px) {
    .labgrowRegister {
        width: 80%;
        margin: 10px;
    }
    .createBtnRegister{
        width: 80%;
    }
   
}